[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
roslibpy = "~=1.2.1"
tqdm = "~=4.62.3"
scipy = "~=1.7.3"
python-dateutil = "~=2.8.2"

[dev-packages]

[requires]
python_version = "3.8"
